.brushSizePickerContainer {
  background: rgba(0, 0, 0, .50);
  height: 100%;
  margin: 0px;
  overflowY: scroll;
  padding: 0px;
  placeSelf: center;
  position: absolute;
  top: '0px';
  width: '100%';
}

.brushSizePicker {
  margin: auto;
  max-width: 65vh;
  padding-bottom: 23vh;
  padding-top: 50vh;
  width: 100%;
}
